.rating-component {
    display: flex;
    justify-content: space-between;
    width: 196px;
    height: 36px;
    margin-top: 24px;

    @media screen and (max-width: $breakpoint-desktop) {
        width: 98px;
        height: 18px;
    }
}

.rating-container {
    display: flex;
    align-items: flex-start;
}

.star {
    width: 24px;
    height: 24px;

    @media screen and (max-width: $breakpoint-desktop) {
        width: 15px;
        height: 15px;
    }
}