.header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 5% 0;

	@media screen and (max-width: $breakpoint-desktop) {
		margin: 5% 20px;
	}

	&__logo {
		display: flex;
		align-items: flex-start;
		margin: 0;
		width: 210px;

		img {
			width: 100%;
		}

		@media screen and (max-width: $breakpoint-desktop) {
			width: 145px;
		}
	}
}