.footer-container {
	@include flex-center;
	flex-direction: column;
	height: 209px;
	width: 100%;
	margin-top: auto;
	background-color: $footer-color;
	
	&__text {
		@include font(24px, 500);
		@include flex-center;
		width: 100%;
		color: $tertiary-color;

		@media screen and (max-width: $breakpoint-desktop) {
			@include font(12px, 500);
		}
	}

	img {
		width: 122px;
		height: 40px;
	}
}